@model P.V.WantHelp_.Models.webpages_UsersInRoles

@{
    ViewBag.Title = "SaveFiles";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Js/dropzone.js"></script>
<script>
    $(document).ready(function () {
        alert("hello");
        $(".demo").html.append("<span style='color:red;'>hello</span>");
    });
</script>
<h2>SaveFiles</h2>
<div class="demo"></div>
<div id="myId" class="dropzone"></div>