@{
    ViewBag.Title = "asignado";
}
<script type="text/javascript">
    window.alert("El rol no puede ser eliminado");

</script>


<div id="backbutton" class="win-backbutton">
    
        <h2 class="letraD">El rol se encuentra asignado a un usuario, si realmente desea eliminar el rol debera eliminar la asignacion  <a href="/RolesUser" class="tooltip circle border" title="Atras">
            <img src="~/Images/img/resultset_previous.png"/>
        </a></h2>
        
</div>

