@model P.V.WantHelp_.Models.webpages_Roles

@{
    ViewBag.Title = "Details";
}
<section class="content-wrapper main-content clear-fix">
<div id="body_Curso">
    <div class="centrarH">
<h2 class="letraD">Detalles</h2>
        <div class="Form">

<fieldset>
    <legend>webpages_Roles</legend>
    <table class="ink-table hover">
        <tr>
            <td class="letraD">
                     Id de Rol
                
            </td>
            <td>
                    @Html.DisplayFor(model => model.RoleId)
            </td>
        </tr>
        <tr>
            <td class="letraD">
                     Nombre de Rol
            </td>
            <td>
                    @Html.DisplayFor(model => model.RoleName)
            </td>
                
                
        </tr>
    </table>
</fieldset>

</div>
       <div id="backbutton" class="win-backbutton" style="margin-top: 15px;">
        <a href="/Roles" class="tooltip circle border" title="Atras">
            <img src="~/Images/img/resultset_previous.png"/>
        </a>&nbsp;&nbsp;
    </div>
</div>
</div>

</section>

